h1, p {
    text-align:center
}

ol li:hover {
    background-color: cornflowerblue;
}

li:active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

ol, ul {
    list-style: none;
}