    h1 {
            font-size: 65px;
            color: orange;
            font-family: sans-serif;
            
        }

        body {
            font-size: 16px;
        }

    
        ul {
            background-color: burlywood;
            
        }
        .cor-favorita {
            background-color: cadetblue;
        }
        p {
            font-weight: 600;
            font-size: 3em;
        }
        ul {
            font-style: italic;
            line-height: 30px;
            text-align: center;
            text-decoration: underline;
        }

        #yellow {
            background-color: yellow;

        }
        #red {
            background-color: red;

        }

        #brown {
            background-color: brown;

        }